<div class="row">
  <div *ngFor="let address of addresses" class="col-lg-6 col-md-6 card">
          <address class = "address-block">
                  <strong>{{address.unit}}</strong><br>
                  {{address.street}}<br>
                  {{address.city}}<br>
                  {{address.district}}, {{address.country}}<br>
                  <abbr title="Phone">Ph:</abbr> {{address.phone}}<br>
                  <abbr title="Mobile">Mo:</abbr> {{address.mobile}}
          </address>
  </div>
</div>
